<div style="height: 100%; overflow-y: scroll; padding: 24px;">
    <p><img src="./assets/PLOT.gif" width="75%"></p>
    <h3 id="privacy-guards">Privacy Guards</h3>
    <p><img src="./assets/PLOT_Guard1.gif" width="75%"></p>
    <p><img src="./assets/PLOT_Guard2.png" width="75%"></p>
    <p><img src="./assets/PLOT_Guard3.gif" width="75%"></p>
    <p><img src="./assets/PLOT_Guard4.png" width="75%"></p>
    <h3 id="check-usecase">Check Usecase</h3>
    <p><img src="./assets/PLOT_Check.gif" width="75%"></p>
    <h3 id="architecture">Architecture</h3>
    <p><img src="./assets/PLOT_Architecture.png" width="75%"></p>
    <h3 id="-full-presentation-video-https-vimeo-com-415224700-"><a href="https://vimeo.com/415224700">Full Presentation Video</a></h3>
    <p></p>
</div>