<div class="dox-wrapper dox-header" [class.new-component-layout]="useNewLayout">
    <section>
        <h1 clrFocusOnViewInit>{{title}}</h1>
    </section>
</div>
<section #scrollableArea cdkScrollable class="dox-content" [ngClass]="{'closed-panel': !sidePanelOpened, 'opened-panel': sidePanelOpened, 'no-panel': !sidePanelTemplate}">
    <div *ngIf="tocTemplate" class="toc-panel" #tocPanel>
        <ng-container *ngTemplateOutlet="tocTemplate;context:tocContext"></ng-container>
    </div>
    <ng-content></ng-content>
</section>
<div *ngIf="sidePanelTemplate" class="side-panel" #sidePanel [ngClass]="{'closed-panel': !sidePanelOpened, 'opened-panel': sidePanelOpened}">
    <button *ngIf="sidePanelOpened" class="closing-panel-btn" (click)="sidePanelOpened=!sidePanelOpened;">&gt;&gt;</button>
    <button *ngIf="!sidePanelOpened" class="closing-panel-btn" (click)="sidePanelOpened=!sidePanelOpened;">&lt;&lt;</button>
    <span *ngIf="sidePanelOpened">
      <ng-container *ngTemplateOutlet="sidePanelTemplate;context:sidePanelContext"></ng-container>
  </span>
</div>
