<nav class="subnav">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="router-link-active">Dashboard</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/presentation" routerLinkActive="router-link-active">Presentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/simulations" routerLinkActive="router-link-active">Simulations</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/projects" routerLinkActive="router-link-active">Projects</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/reports" routerLinkActive="router-link-active">Reports</a>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="router-link-active">Users</a>
        </li> -->
    </ul>
</nav>
