<app-doc-wrapper [title]="'Simulation 1'" [newLayout]="true" #docWrapper>
    <article #article id="article" class="simulations">
        <div class="tab-content">
            <h3>Input data:</h3>
            <p>To begin, let&rsquo;s start with a very simplified (downscaled) model, just keeping in mind the real scale to ensure the chosen design will fit it.</p>
            <p>In our simulation, we consider:</p>
            <ul>
                <li>{{simulation.nbTimeSlots}} time slots per day, instead of 240</li>
                <li>An {{areaSideSize*5}}mx{{areaSideSize*5}}m area, giving a total of {{areaSideSize}}x{{areaSideSize}} unit locations</li>
                <li>An infection incubation period of 5 days, instead of 15</li>
            </ul>
            <p>Change constants:</p>
            <form clrForm>
                <clr-input-container>
                    <label>Nb of time slots per day: </label>
                    <input clrInput #inputNbTimeSlots step="1" max="6" min="4" type="number" value="{{nbTimeSlotsPerDay}}" placeholder="Nb of time slots per day">
                </clr-input-container>
                <button class="btn btn-primary" [disabled]="inputNbTimeSlots.value == nbTimeSlotsPerDay" (click)="nbTimeSlotsPerDay = inputNbTimeSlots.value; refreshSimulation();">Apply</button>
                <clr-input-container>
                    <label>Nb of days: </label>
                    <input clrInput #inputNbDays step="1" max="4" min="2" type="number" value="{{nbOfDays}}" placeholder="Nb of days">
                </clr-input-container>
                <button class="btn btn-primary" [disabled]="inputNbDays.value == nbOfDays" (click)="nbOfDays = inputNbDays.value; refreshSimulation();">Apply</button>
                <clr-input-container>
                    <label>Nb of unit location per side: </label>
                    <input clrInput #inputareaSideSize step="1" max="8" min="4" type="number" value="{{areaSideSize}}" placeholder="Nb of unit location per side">
                </clr-input-container>
                <button class="btn btn-primary" [disabled]="inputareaSideSize.value == areaSideSize" (click)="areaSideSize = inputareaSideSize.value; refreshSimulation();">Apply</button>
                <clr-input-container>
                    <label>Infection incubation period: </label>
                    <input clrInput #inputIncubationPeriod step="1" max="8" min="4" type="number" value="{{incubationPeriod}}" placeholder="Infection incubation period">
                </clr-input-container>
                <button class="btn btn-primary" [disabled]="inputIncubationPeriod.value == incubationPeriod" (click)="incubationPeriod = inputIncubationPeriod.value; refreshGlobalinfectionReport()">Apply</button>
            </form>
            <h3>Individuals' location records:</h3>
            <p>These location records are rendomly generated for the simulation purpose</p>
            <button class="btn btn-primary" (click)="refreshSimulation();">Generate new records</button>
            <div class="clr-row">
                <div *ngFor="let individual of simulation.individuals" class="clr-col-10 clr-col-md-5 clr-col-lg-3 clr-col-xl-2">
                    <div>{{individual.name}} location record:</div>
                    <textarea style="height: calc( 24px * {{simulation.nbTimeSlots}} + 4px)">{{locationRecord(individual)}}</textarea>
                    <!-- <table>
                                  <tbody>
                                      <tr *ngFor="let itemY of [].constructor(areaSideSize); let y = index">
                                          <td *ngFor="let itemX of [].constructor(areaSideSize); let x = index" class=" tab-cell">
                                              <span *ngIf="isHere(individual, x, y)">{{whenHere(individual, x, y)}}</span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table> -->
                </div>
            </div>
            <p>Across time:</p>
            <div class="clr-row">
                <div *ngFor="let timeSlot of simulation.timeSlots" class="timeSlot {{getClassesForTable()}}">
                    <div>day: {{timeSlot.day}}</div>
                    <div>slot: {{timeSlot.slotInDay}}</div>
                    <table>
                        <tbody>
                            <tr *ngFor="let y of simulation.allY">
                                <td *ngFor="let x of simulation.allX" class=" tab-cell left">{{whoIsHere(timeSlot.time, x, y)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>contacts:</p>
                    <textarea style="margin: 12px; width: 80%; align-self: center; height: calc( 24px * {{simulation.individuals.length}} + 4px)">{{detectContact(timeSlot)}}</textarea>
                </div>
            </div>
            <h3>Infection Status:</h3>
            <p>Check the box when the individual is declared infected</p>
            <div style="overflow-x: auto; width: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Time:</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">
                                d:{{timeSlot.day}},s:{{timeSlot.slotInDay}}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let individual of simulation.individuals">
                            <td>{{individual.name}}</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">
                                <input type="checkbox" clrCheckbox [checked]="individual.infectedTime >= 0 && individual.infectedTime <= timeSlot.time" (change)="onChecked($event, individual, timeSlot)" />
                                <!-- <input type="checkbox" clrCheckbox [checked]="individual.infectedTime >= 0 && individual.infectedTime <= timeSlot.time" [disabled]="individual.infectedTime >= 0 && individual.infectedTime < timeSlot.time" (change)="onChecked($event.target.checked, individual, timeSlot)"
                            /> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Global Infection Record:</h3>
            <div style="overflow-x: auto; width: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Time:</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">{{timeSlot.time}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Infected Zones:</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;" style="min-width: 36px;">
                                <!-- <textarea style="margin: 2px; width: 100%; align-self: center; height: calc( 24px * {{individuals.length}} + 4px)">{{getGlobalInfectionAtTime(timeSlot.time)}}</textarea> -->
                                <table>
                                    <tbody>
                                        <tr *ngFor="let y of simulation.allY">
                                            <td *ngFor="let x of simulation.allX" class=" tab-cell" [ngClass]="{'red': isInfected(timeSlot.time, x, y)}">
                                                <!-- <div *ngIf="isInfected(timeSlot.time, x, y)" style="background-color: red;">X</div> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Encoding Global Infection Record</h3>
            <div>
                <p>To prepare the global infection record to be published (for instance on a distributed ledger), and encrypted in such a way that we could evaluate an individual infection risk, we store data in a mono-dimensional set structure.</p>
                <p>Say we have now the global infection record as a set of N*M uint32 for each given day, with:</p>
                <ul>
                    <li> N is the number of time slots in a day,</li>
                    <li> M is the number of infected people on that day,</li>
                    <li> each uint32 is a encoded value of the tuple (x, y, ts) meaning that the location (x,y) is infected at the time slot ts in the given day</li>
                </ul>
            </div>
            <!-- <div class="clr-row">
                <div *ngFor="let day of simulation.allDays" class="clr-col-10 clr-col-md-5 clr-col-lg-3 clr-col-xl-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Global Infection Record day {{day}}</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let md_val of md_globalInfectionReport.get(day)">
                                <td>{{md_val}} - {{md_parse(md_val)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div> -->
            <div>
                <p>Note: a small optimization can be done when we can avoid duplicate values in each set. Hence N*M is the maximum dimension of a day global infection record.</p>
            </div>
            <h3>Infection Risk Assessment:</h3>
            <p>This table show how many times each individual has been in contact with infected people in a given time slot</p>
            <div style="overflow-x: auto; width: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Time:</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">
                                d:{{timeSlot.day}},s:{{timeSlot.slotInDay}}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let individual of simulation.individuals">
                            <td>{{individual.name}}</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">
                                <span *ngIf="individual.infectedTime >= 0">N/A</span>
                                <span *ngIf="individual.infectedTime < 0">
                                  {{computeScore(individual, timeSlot)}}
                                    <!-- {{computeRisk_md(individual, timeSlot)}}<br>
                                      {{computeScore_md(individual, timeSlot)}} -->
                                  </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3>Bloom Filters experimentation</h3>
            <div>
                <p>Using Bloom Filter may allow us:</p>
                <ul>
                    <li> to reduce the amount of data published on the distributed ledger (?),</li>
                    <li> to encrypt published data so that we can look for intersections between set of values without revealing the real data</li>
                </ul>
                <form clrForm>
                    <clr-input-container>
                        <label>Bloom size (in 32bits words): </label>
                        <input clrInput #inputNbTimeSlots step="64" max="1024" min="64" type="number" value="{{bloomSize}}" (change)="bloomSize = $event.target.value" placeholder="Bloom size">
                    </clr-input-container>
                </form>
                <!-- <button class="btn btn-primary" (click)="computeBlooms()">Compute</button> -->
                <div class="clr-row">
                    <div *ngFor="let day of simulation.allDays" class="clr-col-10 clr-col-md-5 clr-col-lg-3 clr-col-xl-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Global Infection Record day {{day}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <td>
                                    <textarea>{{serializeBloom(day)}}</textarea> size:{{4*serializedBloomSize(day)}} octets
                                </td>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div style="overflow-x: auto; width: auto;">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Time:</td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">
                                d:{{timeSlot.day}},s:{{timeSlot.slotInDay}}
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let individual of simulation.individuals">
                            <td>
                                <!-- {{individual.name}} -->
                                <button (click)="computeAllScore_bloom(individual)">{{individual.name}}</button>
                            </td>
                            <td *ngFor="let timeSlot of simulation.timeSlots; let i = index;">
                                <span *ngIf="individual.infectedTime >= 0">N/A</span>
                                <span *ngIf="individual.infectedTime < 0">
                                    <!-- {{computeScore_bloom(individual, timeSlot)}} -->
                                    {{getLastScore_bloom(individual, timeSlot)}}
                                    <!-- <button (click)="computeScore_bloom(individual, timeSlot)">{{getLastScore_bloom(individual, timeSlot)}}</button> -->
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</app-doc-wrapper>