<nav class="subnav">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="router-link-active">Dashboard</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/presentation" routerLinkActive="router-link-active">Presentation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/simulation1" routerLinkActive="router-link-active">Simulation1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/outcomes" routerLinkActive="router-link-active">Outcomes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/demos" routerLinkActive="router-link-active">Demonstrations</a>
        </li>
    </ul>
</nav>