<app-doc-wrapper [title]="'Simulations'" [newLayout]="true" #docWrapper>
    <article #article id="article" class="simulations">
        <clr-tabs>
            <clr-tab>
                <button clrTabLink id="link1">Simulation 1</button>
                <clr-tab-content id="content1" *clrIfActive>
                    <div class="tab-content">
                        <p>To begin, let&rsquo;s start with a very simplified (downscaled) model, just keeping in mind the real scale to ensure the chosen design will fit it.</p>
                        <p>In our simulation, we consider:</p>
                        <ul>
                            <li>{{nbTimeSlots}} time slots per day, instead of 240</li>
                            <li>An {{areaSideSize*5}}mx{{areaSideSize*5}}m area, giving a total of {{areaSideSize}}x{{areaSideSize}} unit locations</li>
                        </ul>
                        <p>Change constants:</p>
                        <form clrForm>
                            <clr-input-container>
                                <label>Nb of time slots per day: </label>
                                <input clrInput #inputNbTimeSlots step="1" max="12" min="4" type="number" value="{{nbTimeSlots}}" placeholder="Nb of time slots per day">
                            </clr-input-container>
                            <button class="btn btn-primary" [disabled]="inputNbTimeSlots.value == nbTimeSlots" (click)="nbTimeSlots = inputNbTimeSlots.value; timeSlots=createTimeSlots(); individuals = createIndividuals();">Apply</button>
                            <clr-input-container>
                                <label>Nb of unit location per side: </label>
                                <input clrInput #inputareaSideSize step="1" max="8" min="4" type="number" value="{{areaSideSize}}" placeholder="Nb of unit location per side">
                            </clr-input-container>
                            <button class="btn btn-primary" [disabled]="inputareaSideSize.value == areaSideSize" (click)="areaSideSize = inputareaSideSize.value; timeSlots=createTimeSlots(); individuals = createIndividuals();">Apply</button>
                        </form>
                        <p>Random generated location records:</p>
                        <button class="btn btn-primary" (click)="individuals = createIndividuals()">Generate new records</button>
                        <div class="clr-row">
                            <div *ngFor="let individual of individuals" class="clr-col-10 clr-col-md-5 clr-col-lg-3 clr-col-xl-2">
                                <div>{{individual.name}} location record:</div>
                                <textarea style="height: calc( 24px * {{nbTimeSlots}} + 4px)">{{locationRecord(individual)}}</textarea>
                                <!-- <table>
                                  <tbody>
                                      <tr *ngFor="let itemY of [].constructor(areaSideSize); let y = index">
                                          <td *ngFor="let itemX of [].constructor(areaSideSize); let x = index" class=" tab-cell">
                                              <span *ngIf="isHere(individual, x, y)">{{whenHere(individual, x, y)}}</span>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table> -->
                            </div>
                        </div>
                        <p>Across time:</p>
                        <div class="clr-row">
                            <div *ngFor="let timeSlot of timeSlots" class="timeSlot {{getClassesForTable()}}">
                                <div>time slot: {{timeSlot.time}}</div>
                                <table>
                                    <tbody>
                                        <tr *ngFor="let locationRow of timeSlot.locations; let y = index;">
                                            <td *ngFor="let locationCol of locationRow; let x = index;" class=" tab-cell left">{{whoIsHere(timeSlot.time, x, y)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>contacts:</p>
                                <textarea style="margin: 12px; width: 80%; align-self: center; height: calc( 24px * {{individuals.length}} + 4px)">{{detectContact(timeSlot)}}</textarea>
                            </div>
                        </div>
                        <p>Infection Status:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td *ngFor="let timeSlot of timeSlots; let i = index;">{{timeSlot.time}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let individual of individuals">
                                    <td>{{individual.name}}</td>
                                    <td *ngFor="let timeSlot of timeSlots; let i = index;">
                                        <input type="checkbox" clrCheckbox [checked]="individual.infectedTime >= 0 && individual.infectedTime <= timeSlot.time" [disabled]="individual.infectedTime >= 0 && individual.infectedTime < timeSlot.time" (change)="onChecked($event.target.checked, individual, timeSlot)"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p>Global Infection Record:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>Time:</td>
                                    <td *ngFor="let timeSlot of timeSlots; let i = index;">{{timeSlot.time}}</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Infected Zones:</td>
                                    <td *ngFor="let timeSlot of timeSlots; let i = index;" style="min-width: 36px;">
                                        <textarea style="margin: 2px; width: 100%; align-self: center; height: calc( 24px * {{individuals.length}} + 4px)">{{getGlobalInfectionAtTime(timeSlot.time)}}</textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink>Simulation 2</button>
                <clr-tab-content *clrIfActive>
                    <p>This simulation takes a few greater values for our hypothesis in order to analyse how our solution is scaling</p>
                    <p>Now, we consider:</p>
                    <ul>
                        <li>12 time slots per day (1 each hour), instead of 240</li>
                        <li>An 80mx80m area, giving a total of 16x16 unit locations</li>
                    </ul>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </article>
</app-doc-wrapper>
